<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jayanth's Translator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="bodycontainer">
        <div class="description">
            <h1 style="color: rgb(139, 0, 69); font-weight:900;">JAYANTH'S TRANSLATOR</h1>
            <H3 style="color: rgb(139, 0, 69)">This application translates a given text content in English to any of World's
                30 most popular
                languages!!</H3>
            <h3 style="color: rgb(139, 0, 69);"><u>Translation:</u></h3>
            <p id="embed">{{embed2}}</p>
        </div>
        <div class="content">
            <form method="POST" id="form">
                <textarea rows="10" id="textinput" name="text" placeholder="Enter your text here">{{embed1}}</textarea>
                <!-- <div class="grid-items"><button id="ta">SUBMIT</button> -->
                <div class="grid">
                    <div class="grid-items"><button id="ta">TAMIL</button></div>
                    <div class="grid-items"><button id="ml">MALAYALAM</button></div>
                    <div class="grid-items"><button id="te">TELUGU</button></div>
                    <div class="grid-items"><button id="kn">KANNADA</button></div>
                    <div class="grid-items"><button id="mr">MARATHI</button></div>
                    <div class="grid-items"><button id="or">ODIA</button></div>
                    <div class="grid-items"><button id="hi">HINDI</button></div>
                    <div class="grid-items"><button id="pa">PUNJABI</button></div>
                    <div class="grid-items"><button id="bn">BENGALI</button></div>
                    <div class="grid-items"><button id="gu">GUJARATI</button></div>
                    <div class="grid-items"><button id="es">SPANISH</button></div>
                    <div class="grid-items"><button id="ar">ARABIC</button></div>
                    <div class="grid-items"><button id="ur">URDU</button></div>
                    <div class="grid-items"><button id="it">ITALIAN</button></div>
                    <div class="grid-items"><button id="fr">FRENCH</button></div>
                    <div class="grid-items"><button id="de">GERMAN</button></div>
                    <div class="grid-items"><button id="el">GREEK</button></div>
                    <div class="grid-items"><button id="pt">PORTUGUESE</button></div>
                    <div class="grid-items"><button id="nl">DUTCH</button></div>
                    <div class="grid-items"><button id="ru">RUSSIAN</button></div>
                    <div class="grid-items"><button id="ga">IRISH</button></div>
                    <div class="grid-items"><button id="he">HEBREW</button></div>
                    <div class="grid-items"><button id="la">LATIN</button></div>
                    <div class="grid-items"><button id="fa">PERSIAN</button></div>
                    <div class="grid-items"><button id="da">DANISH</button></div>
                    <div class="grid-items"><button id="zh-cn">CHINESE</button></div>
                    <div class="grid-items"><button id="ja">JAPANESE</button></div>
                    <div class="grid-items"><button id="ko">KOREAN</button></div>
                    <div class="grid-items"><button id="th">THAI</button></div>
                    <div class="grid-items"><button id="ms">MALAY</button></div>
                </div>
            </form>
        </div>
    </div>

    <script src="static/script.js"></script>
</body>

</html>